# Pre-commit hooks for R & Quarto projects
# Requires: pre-commit (https://pre-commit.com)
# R packages: install.packages(c("precommit", "styler", "lintr"))
#
# Setup:
#   precommit::use_precommit()
#
# To remove: simply delete this file.
repos:
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9020
    hooks:
    -   id: style-files
        args: [--style_pkg=styler, --style_fun=tidyverse_style]
    -   id: lintr
    -   id: parsable-R
    -   id: no-browser-statement
    -   id: no-debug-statement
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=200']
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
        # `exclude: <regex>` to allow committing specific files
