/*-- scss:defaults --*/


/*-- scss:mixins --*/


/*-- scss:rules --*/

.title-block {
  margin-bottom: 2rem;
  border-bottom: 3px solid $primary;
}

img.sidebar-logo {
  display: none !important;
}

// Set the ORCID logo to return to being on the same line as the author.
// When first adding this custom.scss with _brand.yml, the logo was shifted down.
// This section corrects that & returns the icon to the original location.
#title-block-header.quarto-title-block.default .quarto-title-author-orcid img {
  margin-top: -1.2em;
  height: 0.8em;
  width: 0.8em;
}

section p a:hover {
  text-decoration: none;
}
