/*-- scss:defaults --*/
// Colors
// $primary: #2c365e;
// $body-bg: #fefefe;


/*-- scss:mixins --*/


/*-- scss:rules --*/
// Custom theme rules

.title-block {
  margin-bottom: 2rem;
  border-bottom: 3px solid $primary;
}

img.sidebar-logo {
  display: none !important;
}

// code {
//   color: darken($primary, 10%);
//   padding: 0.2em 0.4em;
//   border-radius: 3px;
// }

// Center images
// img {
//   width: 50%;
//   height: auto;
//   display: block;
//   margin: 0 auto;
// }

// Set the ORCID logo to return to being on the same line as the author.
// When first adding this custom.scss with _brand.yml, the logo was shifted down.
// This section corrects that & returns the icon to the original location.
#title-block-header.quarto-title-block.default .quarto-title-author-orcid img {
  margin-top: -1.2em;
  height: 0.8em;
  width: 0.8em;
}

// Add a hover effect to links within the document body only.
section p a:hover {
  // color: $orange;
  text-decoration: none;
}
